<div>
    <h2>Корзина</h2>
<!--    <span ng-repeat="p in products"> {{p.id+' '+ p.title + ' '+ p.price +' '}} </span>-->
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Стоимость</td>
            <td></td>
            <td>Количество</td>
            <td></td>
            <td>Удалить</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in productsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.product.name}}</td>
            <td>{{p.product.price}}</td>
            <td><button type="button" class="btn btn-primary" ng-click="dec(p.id)">-</button></td>
            <td>{{p.quantity}}</td>
            <td><button type="button" class="btn btn-primary" ng-click="inc(p.id)">+</button></td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="deleteProduct(p.id)" >X</button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" ng-click="prevPage()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" ng-repeat="pageIndex in paginationArray">
                <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
            </li>

            <li class="page-item">
                <a class="page-link" aria-label="Next" ng-click="nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


</div>